In [22]:
import pandas as pd
workshops = pd.read_csv("workshops.csv").set_index('workshop')
queries = pd.read_csv("queries.csv")
query_features = pd.read_csv("query_features.csv")
apps = pd.read_csv("applicants.csv").set_index('userid')

In [9]:
workshops.head()

,event,workshop_short,tags,description,track,difficulty
workshop,,,,,,
Introduction to Python,TD 2020,intro_py,"for, loops, functions, while, logic, variables...",Are you new to programming? Or do you want a r...,CS,0
Storytelling with Data,TD 2020,story_data_td,"presenting, impact, business, data science","In this talk, we will describe how we use data...",Industry,0
Stats for Data Scientists,TD 2020,stats_ds,"statistics, confidence interval, testing, stat...","In this talk, we will discuss some aspects of ...",DS,0
How To Win TAMU Datathon,TD 2020,win_tamu,"win, advice, datathon, hackathon",Learn how to win at TAMU Datathon from last ye...,Industry,0
Intro to Natural Language Processing,TD 2020,intro_nlp,"sklearn, gensim, nltk, tfidf, TfidfVectorizer,...",Interested in learning what Natural Language P...,ML,2

In [10]:
queries.head()

                    query                            workshop
0  Using machine learning  Machine Learning Part 2/2: Applied
1         underlying math   Machine Learning Part 1/2: Theory
2        The math portion   Machine Learning Part 1/2: Theory
3              TensorFlow            Intro to Neural Networks
4              Statisticd           Stats for Data Scientists

In [11]:
apps.head()

,school,other_school,majors,minors,age_bin,classification,first_generation,datascience_experience,technology_experience,num_hackathons_attended,workshop_suggestions,relavent_industries
userid,,,,,,,,,,,,
95030aef3e970680d882f1527f549d9e,Texas A&M University,NaN,"['Landscape Architecture & Urban Planning', 'P...",['Soil and Crop Sciences'],"(25, 30]",Ma,False,2,"['Excel', 'Python', 'Tableau', 'Pandas']",0,Python Fundamentals (Functions/Loops)\nVisuali...,"['consulting', 'public_policy', 'other']"
68ad76832a913de0d62df103b3d5b807,Texas A&M University,NaN,"['Electrical Engineering', 'Material Science',...",[],"(18, 20]",Jr,True,2,"['Excel', 'Python', 'Pandas', 'NumPy', 'MATLAB']",0,Training videos on different levels of machine...,"['technology', 'education', 'healthcare', 'ins..."
959d8992667c8bfc1ac665f234360eb6,Oregon State University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Ma,True,2,"['Python', 'Pytorch', 'Pandas', 'NumPy', 'Scik...",0,NaN,['technology']
76b067cd5f3e1b1976d2e2eeceedf567,"Arizona State University, Tempe Campus",NaN,['Biomedical Engineering'],[],"(18, 20]",Jr,False,1,"['Excel', 'MATLAB']",0,Python data science,"['technology', 'healthcare']"
f44cfb96520a82e172ce2ae116b21187,Texas A&M University,NaN,['Computer Science & Engineering'],[],"(22, 25]",Sr,False,1,"['Python', 'Pandas']",0,NaN,[]

In [12]:
apps.columns

Index(['school', 'other_school', 'majors', 'minors', 'age_bin',
       'classification', 'first_generation', 'datascience_experience',
       'technology_experience', 'num_hackathons_attended',
       'workshop_suggestions', 'relavent_industries'],
      dtype='object')

In [13]:
workshop_sugg_df = apps[["datascience_experience", "technology_experience", 
                               "num_hackathons_attended", "workshop_suggestions"]]

In [14]:
workshop_sugg_df.head()

,datascience_experience,technology_experience,num_hackathons_attended,workshop_suggestions
userid,,,,
95030aef3e970680d882f1527f549d9e,2,"['Excel', 'Python', 'Tableau', 'Pandas']",0,Python Fundamentals (Functions/Loops)\nVisuali...
68ad76832a913de0d62df103b3d5b807,2,"['Excel', 'Python', 'Pandas', 'NumPy', 'MATLAB']",0,Training videos on different levels of machine...
959d8992667c8bfc1ac665f234360eb6,2,"['Python', 'Pytorch', 'Pandas', 'NumPy', 'Scik...",0,NaN
76b067cd5f3e1b1976d2e2eeceedf567,1,"['Excel', 'MATLAB']",0,Python data science
f44cfb96520a82e172ce2ae116b21187,1,"['Python', 'Pandas']",0,NaN

In [15]:
print(queries.iloc[0]["query"])

Using machine learning

In [16]:
tags_dict = {}
for i in range(len(workshops.index)):
    tags_dict[str(workshops.iloc[i]["workshop_short"])] = (workshops.iloc[i]["tags"]).split(", ")

In [17]:
print(tags_dict)

{'intro_py': ['for', 'loops', 'functions', 'while', 'logic', 'variables', 'data structures', 'syntax', 'types', 'beginner', 'python', 'languages'], 'story_data_td': ['presenting', 'impact', 'business', 'data science'], 'stats_ds': ['statistics', 'confidence interval', 'testing', 'statistics', 'probability distributions', 'sampling bias', 'r'], 'win_tamu': ['win', 'advice', 'datathon', 'hackathon'], 'intro_nlp': ['sklearn', 'gensim', 'nltk', 'tfidf', 'TfidfVectorizer', 'bag of words', 'CountVectorizer', 'word embeddings', 'Word2Vec', 'naive bayes', 'lemmatization', 'part of speech tags', 'named entity recognition', 'tokenization', 'word clouds'], 'wrangling': ['jupyter notebook', 'pandas', 'import', 'packages', 'data science', 'wrangling', 'datasets', 'clean', 'start', 'introduction', 'mining', 'beginners'], 'visualization': ['viz', 'visualization', 'seaborn', 'matplotlib', 'plots', 'charts', 'plotly express'], 'ml_interpret': ['explainability', 'partial dependence', 'LIME', 'conditional expectation', 'SHAP'], 'intro_nn': ['neural networks', 'machine learning', 'introduction', 'deep learning', 'TensorFlow', 'Keras', 'numpy', 'Optimizer', 'Loss Function', 'Python'], 'ml_theory': ['optimization', 'math', 'theory', 'machine learning', 'linear regression', 'neural network', 'parameters', 'model fitting', 'sklearn'], 'reinforcement': ['RL', 'stock', 'trading', 'games', 'robotics', 'deep learning', 'advanced', 'machine learning', 'neural networks', 'policy'], 'ml_applied': ['applied', 'random forests', 'decision trees', 'xgboost', 'boosting', 'hyperparameter tuning', 'sklearn', 'evaluation', 'feature selection', 'test train split', 'machine learning'], 'recc_engine': ['information retrieval', 'recommendation engine', 'netflix'], 'huca': ['clustering', 'unsupervised', 'k-means', 'gaussian mixture models', 'GMM', 'hierarchical', 'dbscan', 'dimension reduction', 'PCA', 'TSNE'], 'cnn_seg': ['computer vision', 'image recognition', 'image processing', 'CV', 'deep learning', 'convolutional neural network'], 'story_data_bootcamp': ['presenting', 'impact', 'business', 'data science', 'how to wrap up a project'], 'ml_start': ['regression', 'theory', 'math', 'accuracy interpretability tradeoff', 'optimization', 'neural networks', 'machine learning'], 'job_ds': ['resume', 'linkedin', 'professional', 'job', 'interview', 'career', 'data', 'tech', 'analytics'], 'model_interpret': ['feature importance plots', 'partial dependence plots', 'tree interpreters', 'explainability', 'black-box'], 'ds_start': ['pandas', 'import', 'packages', 'data science', 'wrangling', 'datasets', 'clean', 'start', 'introduction', 'mining', 'beginners', 'viz', 'visualization', 'seaborn', 'matplotlib', 'plots', 'charts', 'plotly express'], 'nlp': ['sklearn', 'gensim', 'nltk', 'tfidf', 'TfidfVectorizer', 'bag of words', 'CountVectorizer', 'word embeddings', 'Word2Vec', 'naive bayes', 'lemmatization', 'part of speech tags', 'named entity recognition', 'tokenization', 'word clouds']}

In [13]:
for i in range(len(workshops.index)):
    col = []
    for j in range(len(queries.index)):
        #print(workshops.iloc[i]["workshop_short"])
        col.append(find_word_substrings(tags_dict[workshops.iloc[i]["workshop_short"]], queries.iloc[j]["query"]))
        
    queries.insert(len(queries.columns)-1, (workshops.iloc[i]["workshop_short"]+"_count"), col)

In [14]:
def find_word_substrings(tag_list, query):
    count = 0
    for tag in tag_list:

        if tag in query:
            count += 1
            
    return count

In [15]:
queries.head()

,query,intro_py_count,story_data_td_count,stats_ds_count,win_tamu_count,intro_nlp_count,wrangling_count,visualization_count,ml_interpret_count,intro_nn_count,...,recc_engine_count,huca_count,cnn_seg_count,story_data_bootcamp_count,ml_start_count,job_ds_count,model_interpret_count,ds_start_count,nlp_count,workshop
0,Using machine learning,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,Machine Learning Part 2/2: Applied
1,underlying math,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,Machine Learning Part 1/2: Theory
2,The math portion,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,Machine Learning Part 1/2: Theory
3,TensorFlow,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Intro to Neural Networks
4,Statisticd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Stats for Data Scientists

In [16]:
queries.to_csv("query_features.csv")

In [36]:
import sklearn.model_selection as sk_model
from sklearn.linear_model import LogisticRegression as lr
x = query_features[query_features.columns[2:23]]
y = query_features[query_features.columns[-1]]
x_train, x_test, y_train, y_test = sk_model.train_test_split(x, y, test_size=0.2)

clf = lr(max_iter=100).fit(x_train, y_train)

In [43]:
preds = clf.predict(x_test)
score = clf.score(x_test, y_test)
print(score)
print(preds)
print(y_test)

0.8
['DS' 'ML' 'ML' 'DL' 'DS' 'DL' 'ML' 'DS' 'ML' 'ML']
14          DS
11          ML
34          ML
10          DL
40          DS
39          DL
21          ML
26    Industry
8           DL
41          ML
Name: class, dtype: object

In [31]:
query_features[query_features.columns[2:23]]

,intro_py_count,story_data_td_count,stats_ds_count,win_tamu_count,intro_nlp_count,wrangling_count,visualization_count,ml_interpret_count,intro_nn_count,ml_theory_count,...,ml_applied_count,recc_engine_count,huca_count,cnn_seg_count,story_data_bootcamp_count,ml_start_count,job_ds_count,model_interpret_count,ds_start_count,nlp_count
0,0,0,1,0,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
11,0,0,1,0,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,0,0
12,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
13,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
14,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,2,0,1,0
15,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
17,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,1,0,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,0,0
21,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
23,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
24,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27,0,0,1,0,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,0,0
28,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,2,0,1,0
30,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
36,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
39,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
40,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
41,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0